@model Chacha_project.Models.Fee
@{
    ViewData["Title"] = "AddFee";
}
<h1>Edit Fee</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StudentName" class="control-label"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatherName" class="control-label"></label>
                <input asp-for="FatherName" class="form-control" />
                <span asp-validation-for="FatherName" class="text-danger"></span>
            </div>
          
           
           
            <div class="form-group">
                <label asp-for="RegistrationNo" class="control-label"></label>
                <input asp-for="RegistrationNo" class="form-control" />
                <span asp-validation-for="RegistrationNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentCNIC" class="control-label"></label>
                <input asp-for="StudentCNIC" class="form-control" />
                <span asp-validation-for="StudentCNIC" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List"</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


